<!DOCTYPE html>
<html>
  <head>
    <title>MyVitrine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/home.scss">
    <link rel="stylesheet" href="/assets/style.css" >
    <script type="text/javascript" src="/assets/animation.js"></script>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/contact.css">
  </head>

  <body>
  	<nav>
    	<section id="devant"><img src="/assets/sary/l2.jpg" width="80" height="80"></section>
		<section id="derriere"><img src="/assets/sary/l1.jpg" width="80" height="80"></section>
		<a href="/"><button>Presentation</button></a>
		<a href="/mission"><button>Mission</button></a>
		<a href="/realisation"><button>Realisation</button></a>
		<a href="/partenaire"><button>Partenaire</button></a>	
		<a href="/garanties"><button>Garanties</button></a>	
		<a href="/contact"><button>Contant</button></a>
	</nav>
<br><br><br>
  	<%= yield %>
    <footer>
			bienvenue sur notre site
		</footer>	

</body>
</html>