<!DOCTYPE html>
<html>
  <head>
    <title>MyVitrine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/home.scss">
    <link rel="stylesheet" href="/assets/style.css" >
    <link rel="stylesheet" type="text/css" href="assets/contact.css">
    <link rel="stylesheet" type="text/css" href="assets/examples.css">
    <link rel="stylesheet" type="text/css" href="assets/jquery.multiscroll.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/animation.js"></script>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    
  </head>

  <body>
    <div class="row">
      	<headers class="col-md-1 offset-0">
            <section id="devant"><img src="/assets/sary/l2.jpg" width="60" height="60"></section>
        		<section id="derriere"><img src="/assets/sary/l1.jpg" width="60" height="60"></section>
        </headers>   
        <headers class="col-md-3 offset-0">  
            <h2><a href="/"> www.tranoko<font color="green">.mg </font></a></h2>
        </headers>    
        <headers class="col-md-8 offset-0">    
            <h4>bienvenu sur notre site internet&nbsp;&nbsp; </h4> 
        </headers>    
    </div>  

        <nav class="col-md-12 offset-0 "> 
        		<a href="/"><font color="white"> PRESENTATION</font></a>&nbsp;&nbsp;&nbsp; 
        		<a href="/mission"><font color="white">MISSION</font></a>&nbsp;&nbsp;&nbsp;
        		<a href="/realisation"><font color="white">REALISATION</font></a>&nbsp;&nbsp;&nbsp;  
        		<a href="/partenaire"><font color="white">PARTENAIRE</font></a>&nbsp;&nbsp;&nbsp;  
        		<a href="/garanties"><font color="white">GARANTIES</font></a>&nbsp;&nbsp;&nbsp;	  
        		<a href="/contact"><font color="white">CONTACT</font></a>&nbsp;&nbsp;&nbsp;  
        </nav>   

<br><br><br>
    <div class="yield">
  	  <%= yield %>
    </div>
    <footer class="fixed-bottom">
			bienvenue sur notre site
		</footer>	
<script type="text/javascript">
    $(document).ready(function() {
      $(window).scroll(function(){
         $('nav').addClass("fixed-top");
      });
      $(window).scrollTop(function(){
         $('nav').removeClass("fixed-top");
      })

       $('#myContainer').multiscroll({
            	sectionsColor: ['#1bbc9b', '#4BBFC3', '#7BAABE'],
            	anchors: ['first', 'second', 'third'],
            	menu: '#menu',
            	navigation: true,
            	navigationTooltips: ['One', 'Two', 'Three'],
            	loopBottom: true,
            	loopTop: true
            });
      
    });
</script>
</body>
</html>