<!DOCTYPE html>
<html>
  <head>
    <title>MyVitrine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <script type="text/javascript" src="/assets/animation.js"></script>
    
    <link rel="stylesheet" href="/assets/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/style.css" >
    
  </head>

  <body>
    <div class="btn btn-danger">test</div>
    <div id="carousel">
      <div class="row">

        <div class="col-md-4"> 
          <img src="/assets/img/bot1.png" class="img">
        </div>
        <div class="col-md-4"> 
          <img src="/assets/img/bot2.png" class="img">
       </div>
        <div class="col-md-4"> 
          <img src="/assets/img/bot3.jpeg" class="img">
        </div>
        <div class="col-md-4"> 
          <img src="/assets/img/bot4.jpg" class="img">
        </div>
      
      </divl>
    </div>
    <center type="button" class="click"> clicker</center>
    <%= yield %>
    <script type="text/javascript">
      $(document).ready(function () {
          var carousel = $('#carousel');
          console.log(carousel);
          
          var img = $('#carousel img');
          var indexElement = img.length - 1 ;
          var i = 0;
          console.log(img.length);
          
          var current = img.eq(i);
          img.css('display','none');
          current.css('display','block');
          carousel.after('<div class="controls"><button type="button" class="next">next</button><button type="button" class="prev">prevous</button></div>')
          $('.next').click(function () {
                console.log(current);
               i++;
               if (i <= indexElement) {
                  img.css('display','none');
                  current = img.eq(i);
                  current.css('display','block');
              
               } else {
                 i = indexElement ;
               }
               
          })
          $('.prev').click(function () {
               i--;
               if (i >= 0) {
                  img.css('display','none');
                  current = img.eq(i);
                  current.css('display','block');
              
               } else {
                 i = 0 ;
               }
               
          })
            var array  = ["a","b","c","d"]
            var index = 0
           function test() {
               setTimeout(function(){
                  if ( index < array.length) {
                    
                    const element = array[index];
                    $('.prev').append('<span>' + element+' </span>');
                  }
                  index++;
                  if (index == array.length){
                    index = 0;
                  }
                  test();
               }, 100) 
          }
          // $('.click').click(function () {
            // return test();
          // });
          function slideImg(){
            setTimeout(() => {
              if (i < indexElement) {
                i++;
              } else {
                i = 0
              }
               img.css('display','none');
                  current = img.eq(i);
                  current.css('display','block');
              slideImg();
            }, 1000);
          }
          // slideImg();

      });
    </script>
  </body>
</html>
