<!DOCTYPE html>
<html>
  <head>
    <title>MyVitrine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/home.scss">
    <link rel="stylesheet" href="/assets/style.css" >
    <script type="text/javascript" src="/assets/animation.js"></script>
    <script type="text/javascript" src="/assets/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/contact.css">
  </head>

  <body>
    <div class="row">
      	<headers class="col-md-1 offset-0">
            <section id="devant"><img src="/assets/sary/l2.jpg" width="60" height="60"></section>
        		<section id="derriere"><img src="/assets/sary/l1.jpg" width="60" height="60"></section>
        </headers>   
        <headers class="col-md-3 offset-0">  
            <h2><a href="/"> www.tranoko<font color="green">.mg </font></a></h2>
        </headers>    
        <headers class="col-md-8 offset-0">    
            <h4>bienvenu sur notre site internet&nbsp;&nbsp; </h4> 
        </headers>    
    </div>  

        <nav class="col-md-12 offset-0"> 
        		<a href="/"><font color="white"> PRESENTATION</font></a>&nbsp;&nbsp;&nbsp; 
        		<a href="/mission"><font color="white">MISSION</font></a>&nbsp;&nbsp;&nbsp;
        		<a href="/realisation"><font color="white">REALISATION</font></a>&nbsp;&nbsp;&nbsp;  
        		<a href="/partenaire"><font color="white">PARTENAIRE</font></a>&nbsp;&nbsp;&nbsp;  
        		<a href="/garanties"><font color="white">GARANTIES</font></a>&nbsp;&nbsp;&nbsp;	  
        		<a href="/contact"><font color="white">CONTACT</font></a>&nbsp;&nbsp;&nbsp;  
        </nav>   

<br><br><br>
  	<%= yield %>
    <footer>
			bienvenue sur notre site
		</footer>	

</body>
</html>